// We support macOS, iOS, watchOS and tvOS by default.
SUPPORTED_PLATFORMS = macosx iphoneos appletvos watchos appletvsimulator iphonesimulator watchsimulator

// http://promisekit.org/news/2016/08/Multiplatform-Single-Scheme-Xcode-Projects/
// watchOS build fails if we do not set it exactly like that
TARGETED_DEVICE_FAMILY = 1,2,3,4

// Deployment targets
MACOSX_DEPLOYMENT_TARGET = 10.13
IPHONEOS_DEPLOYMENT_TARGET = 11.0
TVOS_DEPLOYMENT_TARGET = 10.0
WATCHOS_DEPLOYMENT_TARGET = 4.0

// Enable arm64e on Xcode 10.1
// Enable once we have a Firebase version with arm64e
//ARCHS = $(PSPDF_ARCHS_$(XCODE_VERSION_MINOR))
//PSPDF_ARCHS_1000 = $(ARCHS_STANDARD)
//PSPDF_ARCHS_1010 = $(ARCHS_STANDARD) arm64e

// Toolchain
SDKROOT = iphoneos
SDKROOT[sdk=macosx*] = macosx

// Generating dSYM files is super slow, so skip during debug builds.
DEBUG_INFORMATION_FORMAT = dwarf;

INFOPLIST_FILE = $(PROJECT_DIR)/Sources/PSPDFKitSwift/Info.plist
INFOPLIST_FILE[sdk=macosx*] = $(PROJECT_DIR)/Sources/PSPDFKitSwift/PSPDFKitSwift-mac-Info.plist

// Enable bitcode is YES by default on iOS. Mac doesn't support it, so setting that flag would break Mac.
ENABLE_BITCODE = NO
ENABLE_BITCODE[sdk=iphoneos*] = YES

// Swift
SWIFT_VERSION = 5
SWIFT_INSTALL_OBJC_HEADER = NO

CLANG_ENABLE_MODULE_DEBUGGING = YES
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO

CODE_SIGN_IDENTITY =
DEVELOPMENT_TEAM =

PRODUCT_BUNDLE_IDENTIFIER = com.pspdfkit.PSPDFKitSwift
PRODUCT_NAME = PSPDFKitSwift
PRODUCT_MODULE_NAME = PSPDFKitSwift

FRAMEWORK_SEARCH_PATHS = $(inherited) $(CONFIGURATION_BUILD_DIR) $(PROJECT_DIR)/Frameworks

DEFINES_MODULE = NO
