SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 10.0
TARGETED_DEVICE_FAMILY = 1,2
INFOPLIST_FILE = Sources/PSPDFKitSwift/Info.plist
SWIFT_VERSION = "4.0"
SWIFT_INSTALL_OBJC_HEADER = NO
CLANG_ENABLE_MODULE_DEBUGGING = YES
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
CODE_SIGN_IDENTITY =
DEVELOPMENT_TEAM =
PRODUCT_BUNDLE_IDENTIFIER = com.pspdfkit.PSPDFKitSwift
PRODUCT_NAME = PSPDFKitSwift
PRODUCT_MODULE_NAME = PSPDFKitSwift
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Frameworks
DEFINES_MODULE = NO

